@page
@model EnterpriseArchitectManagement.Pages.Applications.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.AuditDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.AuditDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.GoLiveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.GoLiveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.EndOfLifeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.EndOfLifeDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Application.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
