@page
@model EnterpriseArchitectManagement.Pages.Applications.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.AuditDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.AuditDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.GoLiveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.GoLiveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.EndOfLifeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.EndOfLifeDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Application?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
